@import 'tailwindcss';

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima Nova Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima Nova Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima Nova Semibold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima Nova Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima Nova Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/Proxima Nova Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-main: 'Proxima Nova', sans-serif;

  --color-primary: hsl(0, 0%, 13%);

  --color-white-secondary: hsla(0 0% 93.7% / 0.4);

  --color-blue-primary: hsl(206 73.8% 58%);
  --color-blue-secondary: hsl(208 76.5% 96.7%);

  --color-orange-primary: hsl(30 90.7% 53.7%);
  --color-orange-secondary: hsl(30, 93%, 95%);
  --color-orange-third: hsl(30 90.7% 53.7%);

  --color-gray-primary: hsl(0, 0%, 38%);
  --color-gray-secondary: hsl(0 0% 44.7%);
  --color-gray-border: hsl(0, 0%, 94%);
  --color-gray-background: hsl(0, 0%, 92%);

  --color-red-primary: hsl(356 81.6% 51%);
  --color-red-secondary: hsl(356 80% 96.1%);

  --color-violet-primary: hsl(270 77.3% 51.6%);
  --color-violet-secondary: hsl(270 80% 96.1%);

  --color-green-primary: hsl(147 86.5% 37.8%);
  --color-green-secondary: hsl(148 52% 95.1%);
}

* {
  font-family: var(--font-main);
  font-optical-sizing: auto;
  font-style: normal;
}

/* Global */
.border-default {
  @apply border-gray-border border;
}

.input-base {
  @apply w-full rounded-xl px-3 py-2 transition focus:border-black focus:outline-none;
}

.custom-select {
  @apply block cursor-pointer;
}

.sidebar {
  @apply border-gray-border fixed z-20 flex h-full w-64 flex-col border-e bg-white transition lg:relative;
}

.sidebar-link {
  @apply mb-2 flex items-center rounded-lg px-4 py-3;
}

.sidebar-link:not(.active) {
  @apply text-gray-primary hover:bg-gray-background;
}

.sidebar-link.active {
  @apply bg-orange-secondary text-orange-primary;
}

.btn-base {
  @apply bg-orange-primary block rounded-lg py-2 text-center text-white;
}

.btn-orange {
  @apply border-orange-primary bg-orange-primary flex cursor-pointer items-center gap-1 rounded-lg border-1 px-2.5 py-1.5 text-center text-sm text-white;
}

.btn-white {
  @apply border-orange-primary text-orange-primary flex cursor-pointer items-center gap-1 rounded-lg border-1 bg-white px-2.5 py-1.5 text-center text-sm;
}

.tabs {
  @apply border-gray-border mb-6 flex space-x-6 border-b text-sm font-medium;
}

.tabs .tabs-link {
  @apply hover:text-orange-primary text-gray-primary pb-2;
}

.tabs .tabs-link.active {
  @apply border-orange-primary text-orange-primary border-b-2;
}

.filter .select-filter {
  @apply focus:border-orange-primary block cursor-pointer rounded-xl px-3 py-2 transition focus:outline-none;
}

@media (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }
}

.scrollbar {
  @apply [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-thumb]:bg-gray-400 [&::-webkit-scrollbar-track]:bg-transparent;
}

/* Table */

.table-rate .table-tr {
  @apply text-primary border-b border-gray-200 text-left text-[.765rem] font-bold tracking-wider uppercase;
}

.table-rate tbody td:first-child {
  @apply text-center;
}

.p-table {
  @apply px-6 py-3;
}

.d-level {
  @apply border-gray-border rounded-xl border px-2 py-0.5 text-sm;
}

.d-level.easy {
  @apply text-green-primary bg-green-secondary;
}

.chart-line {
  fill: none;
  stroke: #111827;
  stroke-width: 2;
}

.chart-dot {
  fill: #111827;
}

.chart-grid {
  stroke: #e5e7eb;
  stroke-width: 1;
}
